<div style="margin: 0 auto; text-align:center">
    <img width="450" height="350" src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2021/09/mejor-aplicacion-fondos-pantalla-animados-llegaria-android-dentro-poco-2482649.jpg?tf=3840x" />
</div>
